  h2{
    color: white;
  }
  .nav-item  a:hover{
    background-color: rgb(90, 82, 82);
    border-radius: 10px;
    padding: 10px;
  margin: 2px;
   transform:scale(1.1);
 }
header {
 background-image:url("https://images.pexels.com/photos/669613/pexels-photo-669613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
height: 100vh;


}
.banner-container{
 height: 100vh;
 
}


.container{

 background-color: gray;
}
footer {

color: white;
 background-color: rgb(9, 9, 9);

}
footer .row {
 padding:20px;
}
nav{
 background-color: black;
}
